@page
@using Microsoft.Graph.Models;


@model Reservation.Web.Pages.CalendarModel

<h3>Users</h3>

<ul>

    @foreach (var item in Model.Users)
    {
        <li>@item</li>
    }
</ul>

<h3>Events</h3>

<ul>
    @foreach (var e in Model.Events)
    {
        string id = e.Start.ToDateTime().ToString("yyyy-MM-dd HH:mm");
        <li>@($"Titel: {e.Subject} von: {id} - {e.End.ToDateTime()}") </li>
        }
</ul>

